/* Display section */

/* choose color for paragraph */
p {}

/* example one is a none display */
p.ex1 {}

/* example two is an inline display */
p.ex2 {}

/* example three is a block display */


/* example four is an inline-block display */



/* -------------------------------------- */
/* Properties section */

/* complete the static example with the position and border that is 8px, solid and the color  #17e6e6 */
div.static {
    
  }

/* complete the relative example with relative position, left of 30px and a border consisting of 8px, dashed and color of #e66617*/
div.relative {

  }

  /* complete the absolute example */

  /* Step 1: position need to be relative for relative2. Give it a width of 400px, height of 200px and a border that is the following: 4px, solid and color of #72beed */
  div.relative2 {

  }
  
  /* Step 2: position needs to be absolute. Give it a top of 80px, right of 0, width of 200px, height of 100px and a border that is the following: 5px, dotted and color of #6a17e6 */
  div.absolute {
   
  }

  /* Complete the fixed example. In addition to the position being fixed, give it a bottom of 0, a right of 0, width 300 and a border with the following: 10px groove and color of #61ff98*/
  div.fixed {
  
  }

  /* Complete the sticky example. Write the div and class name (you may look at examples above, in slides or as your classmates.) 
  There are two positions you will need. 
  1) One is already written for you as  "position: -webkit-sticky;" . 
  2) The second you need to write out the position and assign it with sticky. 
  3) give a top of 0, padding of 5px, background color of #b9f6fa and a border with the following: 4px, double,  #4CAF50 */
  

  /* -------------------------------------------- */
  /* float section */
  
  /* left example */

  /* 1) Write your div1 class below with the float of left.
     2) Give it the other values of width 100px, height 50px 
     3) The border should be 5px and solid with a color of  #0c967a*/
  

  /* Fill div2 class with the border values that includes 5px, being solid and a color of  #d454ff  */
  .div2 {
  
  }

  /* Add your div3 class below
  1) give it a float left 
  2) give it the following values of width of 100px, height of 50px, a margin of 10px
  3) The border should be 5px and solid with the color of  #0c967a*/
  
  /* add your div4 class here
  1) give it a clear that is left
  2) The border should be a solid 4px with a color of #d454ff */
 
  
  
  
  
  
  

